.chat-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding: 20px;

  /* background-color: aqua; */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  /* background-color: rgb(145, 81, 81); */
}

.user-info {
  display: flex;
  align-items: center;

  /* background-color: rgb(89, 195, 82); */
}

.user-info div {
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.call-options {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  /* background-color: #007bff; */
}

.call-btn,
.dots-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

  background-color: black;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  /* margin-top: 20px; */
  overflow-x: hidden;
}

.message-sent,
.message-received {
  display: flex;
  justify-content: flex-start;
  


  /* background-color: #007bff; */

 
 
}

.message-sent {
  justify-content: flex-end;

  /* background-color: black; */
}

.message-sent p,
.message-received p {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;


}

.message-sent p {
  background-color: #dcf8c6;
}

.message-received p {
  background-color: #e5e5e5;
}

.message-input {
  display: flex;
  gap: 10px;

 

  /* justify-content: space-between; */

  align-items: center;
  margin-top: 10px;

  /* background-color: #007bff; */
}

.message-input input {
  flex: 1;

  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}

.message-icon2{
  background-color: #28a745; /* Green background */
  border-radius: 50%; /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 1%;
  margin-top: 0.1%; */
  padding: 0.8rem;
  transition: transform 0.1s ease; /* Smooth transition */
}

.message-icon2:active {
  transform: scale(0.90); /* Shrinks when pressed */
}

.icon2 {
  color: white; /* Icon color inside green circle */
  font-size: 18px; /* Adjust icon size */
  margin-right: -20%;
  transition: transform 0.1s ease; /* Smooth transition */
}

.icon2:active{
    transform: scale(0.90); 

}