/* Drawer Container */

.drawer {
  width: 22%;
  height: 100vh; /* Full height */
  background: linear-gradient(to bottom, #c3967f, #bec1ac);
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-evenly;
  align-items: flex-start; /* Align children to the left */
}



/* Logo and Name Section */
.logo-name {
  display: flex;
  align-items: center; /* Vertically center logo and name */
  gap: 20px; /* Space between logo and name */

  margin: 20px 57px;

  /* background-color: red; */
}

/* Logo Styling */
.brick-logo {
  overflow: hidden;
  width: 50px;
  height: 45px;
  /* border-radius: 50%; Make the logo circular */
  /* background-color: white; */
}
.brickflow-logo {
  overflow: hidden;
  width: 150px;
  height: 35px;

  /* background-color: aquamarine; */
}

.logo-name img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drawer-title {

  width: 100%;

  color: white;
  size: 32px;
  font-weight: bold;
  
  margin: 40px 0px; 

  /* background-color: rgb(27, 24, 24); */

  
}


.logout {
  display: flex; /* Use flexbox to align icon and text in a row */
  align-items: center; /* Vertically center the content */
  justify-content: center;
  width: 90%; /* Full width of the parent */
  margin: 10px 10px; /* Left and right margin */
  padding: 12px 0; /* Vertical padding */
  background-color: #aab17e; /* Background color */
  color: black; /* Text color */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for background color and scaling */
}

.logout:hover {
  background-color: #8c9458; /* Darker background on hover */
}

.logout:active {
  transform: scale(0.95); /* Shrink the button on press */
  background-color: #8c9458; /* Keep the hover color when active */
}

.logout-icon {
  margin-right: 15px; /* Space between the icon and text */
  font-size: 24px; /* Icon size */
}

.logout-text {
  font-size: 20px;
}
