.icon-button {
  display: flex;

  align-items: center;
  gap: 0.80rem; /* 12px to rem */
  padding: 0.3rem 0.875rem; /* 5px 14px to rem */
  border-radius: 0.6rem; /* 15px to rem */
  cursor: pointer;
  position: relative;
  color: white;
  transition: background-color 0.3s ease, width 0.3s ease, transform 0.1s ease;
  width: 50%;
  margin-bottom: 0.2rem;
}

.icon-button img {
  width: 1.3rem; /* 25px to rem */
  height: 1.5rem; /* 32px to rem */
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}

.icon-button:hover {
  background-color: #b87857;
  color: black;
}

.icon-button:hover img {
  filter: brightness(0);
}

.icon-button:active {
  background-color: #b87857;
  color: black;
  transform: scale(0.95);
}

.icon-button:active img {
  filter: brightness(0);
}

.icon-button.active {
  background-color: #b87857;
  color: black;
}

.icon-button.active img {
  filter: brightness(0);
}

.name {
  font-size: 1rem; /* 20px to rem */
  font-weight: 100;
}
