.menu-section {
  width: 100%;
  /* margin-bottom: 1rem; Increased spacing between sections */
  margin-left: 4vw; /* Margin using relative unit */
}

.menu-section h1 {
  font-size: 1.08rem; /* Font size with relative unit */
  font-weight: 100;
  margin-bottom: -1.1rem; /* Adjust margin for better spacing */
}

.menu-section ul {
  list-style-type: none;
  padding: 0;
}

.menu-section li {
  /* margin-bottom: 1rem; Add spacing between list items */
}
