.dashboard {
  font-family: "Judson", serif; /* Use 'serif' as a fallback */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: row; /* Arrange child components in a row */
}

.main-body {
  flex: 1; /* Take up the remaining space */
  background: linear-gradient(to bottom, #f1ebe7, #ce8756);
 
  box-sizing: border-box; /* Ensure padding doesn't affect the total width/height */
}
